/local-*.mk
/*.updated
/bomberclone-app.zip

Makefile.in
bomberclone/aclocal.m4
bomberclone/autom4te.cache/
bomberclone/build/
bomberclone/config.guess
bomberclone/config.h.in
bomberclone/config.log
bomberclone/config.sub
bomberclone/configure
bomberclone/depcomp
bomberclone/install-sh
bomberclone/missing
bomberclone/src/bomberclone

app/bomberclone.pexe
app/data
app/manifest.json
app/*.nexe
